<!-- <div class="chart-container">
  <h2>Line Chart</h2>
  <h3>Dummy Sales Data</h3>

  <ngx-charts-line-chart
    [view]="view"
[scheme]="'cool'"
    [results]="multi"
    [legend]="showLegend"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendTitle]="legendTitle"
    [autoScale]="autoScale"
    [animations]="animations"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div> -->
    <section class="page-content">
      <h2 class="page-title">Line Chart</h2>
      <p class="subtitle">Dummy Data about transportation</p>

      <div id="line-chart" class="line-chart"></div>
    </section>