<div class="sidebar bg-purple text-white vh-100 p-3" [class.collapsed]="isCollapsed">
  <!-- زر تصغير وتوسيع السايدبار -->
  <button class="togle btn btn-sm mb-3" (click)="toggleSidebar()">
    <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-right' : 'bi-chevron-left'"></i>
  </button>

<div class="text-center mb-5">
  <div class="position-relative d-inline-block">
    <img
      *ngIf="user?.image_url"
      [src]="user.image_url"
      alt="Admin Image"
      width="60"
      height="60"
      class="rounded-circle mb-2 border border-3 border-white shadow-sm"
      style="object-fit:contain;"
    />
    <span
      class="position-absolute bottom-0 end-0 translate-middle bg-success border border-white rounded-circle"
      style="width: 14px; height: 14px;"
    ></span>
  </div>

  <h6 *ngIf="!isCollapsed">{{ user?.name || 'Admin' }}</h6>

  <button class="btn btn-light btn-sm w-50" *ngIf="!isCollapsed" (click)="logout()">
    {{ 'LOGOUT' | translate }}
  </button>
</div>
  <!-- القوائم -->
  <ul class="nav flex-column">
    <li *ngFor="let item of menu">
      <a [routerLink]="item.path"
         routerLinkActive="active"
         class="nav-link text-white d-flex align-items-center py-2">
        <i [class]="item.icon" class="me-2"></i>
        <span *ngIf="!isCollapsed">{{ item.name | translate }}</span>
      </a>
    </li>
  </ul>
</div>
